<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.home.module.banner.mapper.BannerMapper">
	<select id='getBannerList' resultType='map'>
		SELECT a.banner_id AS bannerID, b.oss_url as url FROM banner a 
			LEFT JOIN sys_oss b ON a.url = b.oss_id 			
	</select>
</mapper>
